html, body{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}

hr{
    border: none;
    height: 1px;
    background-color: #003b59;
}

a{
    text-decoration: none;
    color: #003b59;
}

::placeholder{
    color: lightgray;
    font-family: 'Alata', sans-serif;
}

ul{
    list-style: none;
    display: block;
}

.navbar{
    background-color: #003b59;
    height: 50px;
    width: 100%;
}

.navbar>a{
    margin: 0;
    padding-top: 20px;
    width: max-content;
    height: max-content;
    text-decoration: none;
}

#logo{
    width: 100px;
    padding-top: 15px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
}

#search{
    margin-top: -39px;
    margin-left: 231px;
    padding: 0;
}

#search>input{
    border-radius: 5px;
    border: none;
    width: 400px;
    height: 30px;
    opacity: 60%;
    font-family: 'Alata', sans-serif;
}

input:focus{
    outline: none;
}

.navbtns{
    width: 30px;
    height: 30px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

.sabtns{
    float: right;
    margin-top: -34px;
}

.communities{
    width: 300px;
    height: fit-content;
    float: right;
    border: 1px solid #003b59;
    border-radius: 5pt;
    text-align: center;
    margin: 50px 20px 0px 0px;
    position: relative;
    background-color: lightgray;
}

.comma{
    position: relative;
    margin: 5px 0px 5px 0px;
}