body, html{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}

text{
    font-family: 'Alata', sans-serif;
}

:focus{
    outline: none;
}

::placeholder{
    color: gray;
}

.home{
    width: 100px;
    padding: 4pt 4pt 4pt 4pt;
    margin: 12pt 0pt 0pt 20pt;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 625px;
}

#login-form{
    visibility: hidden;
    margin-left: 37%;
}

#signup-form{
    visibility: hidden;
    top: 0;
    margin-left: 37%;
}

input{
    border-radius: 5pt;
    color: black;
}

button{
    border-radius: 5pt;
}

.ip{
    position: absolute;
    margin-top: 5%;
    margin-bottom: 10pt;
    padding: 10pt 15pt 15pt 20pt;
    border-radius: 5pt;
    background-color: lightgray;
}

.ip>input{
    width: 200pt;
    height: 20pt;
}

.ip>button{
    height: 27pt;
}

.ip>input,button{ 
    font-family: 'Alata', sans-serif;
    margin: 10pt 10pt 0pt 10pt;
    padding: 5px 10px 5px 10px; 
    border-width: 0px 0px 1px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-color: black;
    background: none;
    font-size: 12pt;
    display: block
}

.btn{
    font-family: 'Alata', sans-serif;
    margin: 10pt 10pt 0pt 10pt;
    text-decoration: none;
    border-radius: 5pt;
    background:#003b59;
    color:white;
    float: right;
    font-size: 12pt;
    padding: 5px 10px 5px 10px;
}

.btn:hover{
    cursor: pointer;
}

.mbb{
    background-image: url("babyyoda.jpg");
    background-size: cover;
}