{% extends 'navbar.html' %}
{% block blogsfeed %}
<div class="blog">
    <div class="profilepic"></div>
    <div class="blogcontent">
        <div class="blogtitle">
            <p class="blogtitlee" align="justify">New samsung galaxy s10</p class="blogtitlee">
            <a class="uname" href="#">username</a>
        </div>
        <div class="datetime"><p>30th Dec, 2019</p></div>
        <div class="oimage">
            <div class="bimage"><img></div>
        </div>
        <div class="ovidz">
            <div class="bvidz">
                <video controls>
                    <source src="static\video.mp4">
                </video>
            </div>
        </div>
        <div class="otext">
            <div class="btext"><p align="justify">aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaa bbbbbbbbbbbbb cccccccccc</p></div>
        </div>
    </div>
</div>
{% endblock %}