{% extends 'navbar.html' %}
{% block blogsfeed %}
{% for item in data %}
<div class="blog" id="blur2" style="margin-bottom: 40px;">
    <div class="profilepic"></div>
    <div class="blogcontent">
        <div class="blogtitle">
            <p class="blogtitlee" align="justify">{{ item[0] }}</p>
            <a class="uname" href="#">username</a>
            <div class="datetime"><p>{{ item[3] }}</p></div>
        </div>
        <div class="ekdiv">
            <div class="oimage">
                <div class="bimage"><img src="{{ item[2] }}"></div>
            </div>
            <div class="otext">
                <div class="btext"><p align="justify">{{ item[1] }}</p></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}