<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="static\main.css">
        <link rel="stylesheet" href="static\blog.css">
        <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <a href="/login-home">
                <img id="logo" src="static\logo.png">
            </a>
            <div id="search">
                <input type="search" placeholder="      Search Blogs here.....">
            </div>
            <div class="sabtns">
                <a href="/login-home"><img class="navbtns" src="static\home.png"></a>
                <a href="#"><img class="navbtns" src="static\explore.png"></a>
                <a href="#"><img class="navbtns" src="static\post.png"></a>
                <a href="#"><img class="navbtns" src="static\info.png"></a>
                <a href="#"><img class="navbtns" src="static\account.png"></a>
                <a href="#"><img class="navbtns" src="static\logout.png"></a>
            </div>
        </div>
        <div class="communities">
            <div class="comma"><a href="#">Public Community</a></div>
            <hr>
            <div class="comma"><a href="#">HOD Community</a></div>
        </div>
        {% block blogsfeed %}{% endblock %}
    </body>
</html>