<html>
    <head>
        <link rel="stylesheet" href="post.css">
        <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="postbox">
            <div class="posttitle">
                <div class="title"><p style="font-size: 15pt; margin: 0;">Title</p></div>
                <div class="titleinp"><input type="text" placeholder="Post title here...."></div>
            </div>
            <div class="desc">
                <div class="desctitle"><p style="font-size: 15pt; margin: 0;">Description</p></div>
                <div class="descinp"><textarea placeholder="Post description here..." cols="30" rows="10"></textarea></div>
            </div>
            <div class="postimage">
                <div class="imagetitle"><p style="font-size: 15pt; margin: 0;">Choose Image</p></div>
                <div class="imageinp"><input type="file" placeholder="Post title here...."></div>
            </div>
        </div>
    </body>
</html>